.errorDiv {
  margin-bottom: 0px;
}

.invalid-message {
  color: crimson;
  font-size: 14px;
}

.pending-message {
  color: orange;
  font-size: 14px;
}

.valid-message {
  color: green;
  font-size: 14px;
}
