<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="row g-1 mb-3">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome" [ngClass]="aplicaCssErro('nome')">
      <div class="invalid-feedback">
        Nome é um campo obrigatório.
      </div>
    </div>
  </div>

  <div class="row g-1 mb-3">
    <div class="col-sm-12">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="email@email.com" [ngClass]="aplicaCssErro('email')">
      <div class="invalid-feedback">
        Digite um e-mail válido.
      </div>
    </div>
  </div>

  <div formGroupName="endereco">

    <div class="row g-3 mb-3">
      <div class="col-sm-3">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" formControlName="cep" id="cep" name="cep" [ngClass]="aplicaCssErro('endereco.cep')" (blur)="consultaCEP()">
        <div class="invalid-feedback">
          CEP é um campo obrigatório.
        </div>
      </div>

      <div class="col-sm-2 mb-3">
        <label for="numero" class="control-label">Número</label>
        <input type="text" class="form-control" formControlName="numero" id="numero" name="numero" [ngClass]="aplicaCssErro('endereco.numero')">
        <div class="invalid-feedback">
          Número é um campo obrigatório.
        </div>
      </div>

      <div class="col-sm-7 mb-3">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento" id="complemento" name="complemento">
      </div>
    </div>

    <div class="row g-1 mb-3">
      <div class="col-sm-12">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control" formControlName="rua" name="rua" id="rua" [ngClass]="aplicaCssErro('endereco.rua')">
        <div class="invalid-feedback">
          Rua é um campo obrigatório.
        </div>
      </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col-sm-5">
        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" id="bairro" name="bairro" [ngClass]="aplicaCssErro('endereco.bairro')">
        <div class="invalid-feedback">
          Bairro é um campo obrigatório.
        </div>
      </div>

      <div class="col-sm-4 mb-3">
        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" formControlName="cidade" id="cidade" name="cidade" [ngClass]="aplicaCssErro('endereco.cidade')">
        <div class="invalid-feedback">
          Cidade é um campo obrigatório.
        </div>
      </div>

      <div class="col-sm-3 mb-3">
        <label for="estado" class="control-label">Estado</label>
        <select class="form-control" formControlName="estado" id="estado" name="estado" [ngClass]="aplicaCssErro('endereco.estado')">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <div class="invalid-feedback">
          Estado é um campo obrigatório.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-3 mb-3">
      <label for="cargo" class="control-label">Cargo</label>
      <select class="form-control" formControlName="cargo" id="cargo" name="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-sm-3 mb-3">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple class="form-control" formControlName="tecnologias" id="tecnologias" name="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-sm-3 mb-3">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter">
        <div class="col-sm-4" *ngFor="let item of newsletterOp">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="newsletter" [value]="item.valor">
            <label class="form-check-label">{{ item.desc }}</label>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-auto mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-danger" (click)="resetar()">Cancelar</button>
    <button class="btn btn-info" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>

