<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="row g-1 mb-3">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
    </div>
  </div>

  <div class="row g-1 mb-3">
    <div class="col-sm-12">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="email@email.com">
    </div>
  </div>

  <div class="col-auto mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-danger" (click)="resetar()">Cancelar</button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>

